body{
    font-family: 'Times New Roman', Times, serif; 
    margin: 0;
    height: 100%;
}

.container, .photo-side, .form-side, .logo-back, .footer{
    display: flex;
}


.container{
    max-width: 100%;
    height: 100%;
}

.photo-side{
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 55%;
    background-image: url('images/stars.jpeg');
}


.footer{
    position: fixed;
    bottom: 0;
    color: whitesmoke;
}

a{
    color: whitesmoke;
}

.logo{
    margin-top: 100px;  
    width: 100%;
    position: relative;
}

.logo-back{
    flex-direction: column;
    justify-content: center;
    font-size: 64px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    opacity: .2;
    z-index: 100;
}

/*
.logo-words img{
    margin: 0 10px; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    height: auto;
    width: clamp(1px, 4vw, 200px);
    z-index: 45;
}
*/

.logo-words{
    
    display: inline-block;
    font-family: 'Orbitron',sans-serif;
    color: rgb(0, 0, 0);
    font-size: clamp(3rem, 12vw, 5rem);
   
    text-align: center;
    position: relative;
    
    z-index: 50;
}


.form-side{
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(58, 32, 99);
}


.form-description{
    width: 750px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-family: 'Orbitron',sans-serif;
    font-size: clamp(.5rem, 3vw, 3rem);
    font-weight: 900;
    text-shadow: -.5px -.5px 0 rgb(90, 140, 242), .5px -.5px 0 rgb(90, 140, 242), -.5px .5px 0 rgb(7, 111, 255), .5px .5px 0 rgb(7, 111, 255);
}

#form{
    padding: 22px;
    text-shadow: -.5px -.5px 0 rgb(0, 0, 0), .5px -.5px 0 rgb(0, 0, 0), -.5px .5px 0 rgb(0, 0, 0), .5px .5px 0 rgb(0, 0, 0);
    background-color: rgb(20, 16, 71);
    font-family:'Times New Roman', Times, serif;
    list-style: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

#form li{
    margin-bottom: 10px;
}

#form label{
    font-size: 35px;
    display: block;
    margin-bottom: 5px;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="tel"]{
    font-family:'Times New Roman', Times, serif;
    display: block;
    font-size: 24px;
    width: 100%;
    height: 25px;
}

button{
    border-radius: 5px;
    padding: 8px;
    margin-top: 25px;
    font-size: 16px;
}

input:hover, input:focus,
button:hover{
    border: 2px solid black;
    padding: 10px;
    
}

input:valid{
    border: 2px solid green;
}

input:invalid{
    border: 2px solid red;
}