body{
    font-family: 'Times New Roman', Times, serif; 
    margin: 0;
    height: 100%;
}

.container, .photo-side, .form-side, .logo-back, .footer{
    display: flex;
}


.container{
    max-width: 100%;
    height: 100%;
}

.photo-side{
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 55%;
    background-image: url('images/stars.jpeg');
}


.footer{
    position: fixed;
    bottom: 0;
    color: whitesmoke;
}

a{
    color: whitesmoke;
}

.logo{
    
    margin-top: 100px;  
    width: 100%;
    position: relative;
}

.logo-back{
    flex-direction: column;
    justify-content: center;
    font-size: 64px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    opacity: .2;
    z-index: 100;
}

.logo img{
    opacity: .7;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: auto;
    width: 100px;
    z-index: 45;
}

.logo-words{
    font-family: 'Orbitron',sans-serif;
    margin-left: 120px;
    color: rgb(0, 0, 0);
    word-spacing: 120px;
    font-weight: 900;
}

.form-side{
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(58, 32, 99);
}


.form-description{
    
    width: 750px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-family: 'Orbitron',sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-shadow: -.5px -.5px 0 rgb(7, 73, 255), .5px -.5px 0 rgb(7, 111, 255), -.5px .5px 0 rgb(7, 111, 255), .5px .5px 0 rgb(7, 111, 255);
}

#form input[type="text"]{
    display: block;
    font-size: 16px;
    border: 1px solid orangered;
  
}