body{
    font-family: 'Times New Roman', Times, serif; 
    margin: 0;
}

.container, .photo-side, .form-side, .logo-back, .footer{
    display: flex;
}

.container{
    max-width: 100%;
}

.photo-side{
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 55%;
    background-image: url('images/stars.jpeg');
}

.form-side{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(58, 32, 99);
}

.footer{
    position: absolute;
    bottom: 0;
    color: whitesmoke;
}

a{
    color: whitesmoke;
}

.logo{
    
    margin-top: 100px;  
    width: 100%;
    position: relative;
}

.logo-back{
    flex-direction: column;
    justify-content: center;
    font-size: 64px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    opacity: .2;
    z-index: 100;
}

.logo img{
    opacity: .7;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: auto;
    width: 100px;
    z-index: 45;
}

.logo-words{
    font-family: 'Orbitron',sans-serif;
    margin-left: 120px;
    color: rgb(0, 0, 0);
    word-spacing: 120px;
    font-weight: 900;
}

.form-side .description{
    font-family: 'Orbitron',sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-shadow: -1px -1px 0 rgb(7, 73, 255), 1px -1px 0 rgb(7, 111, 255), -1px 1px 0 rgb(7, 111, 255), 1px 1px 0 rgb(7, 111, 255);
    
}